<header class="navbar">
    <a href="/" class="nav-brand">Blog</a>
    
    <nav class="navbar-nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="<%= new_post_path %>">Write a Post</a>
        </li>
    </nav>
</header>